form {
    position: relative;
    display: inline-block; 
  }
  
  input {
    background: none;
    color: white;
  }
  form:focus{
    border: none;
  }
  input:focus{
    border: none;
  }
  
  button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    margin: 0;
  }

.button-search{
    color: white;
    border:none;
    background: none;
    padding-top: 6px;
    padding-right: 15px;
}
.form-search{
  border: none;
  background-color: #181818;
  border-radius: 15px;
}
.form-input{
  border-radius: 15px;
  padding: 10px;
  background-color: #181818;
  border: none;
}