form {
    position: relative;
    display: inline-block; 
  }
  
  input {
    background: none;
    color: white;
    width: 20em;
  }
  form:focus{
    border: none;
  }
  input:focus{
    border: none;
  }
  
  button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    margin: 0;
    cursor: pointer;
  }
  .button-search{
    color: white;
    border:none;
    background: none;
    padding-top: 6px;
    padding-right: 20px;
    padding-left: 10px;
    border-left: rgba(80,80,80, .8) .1rem solid;
  }
  .button-cancel{
    color: white;
    border:none;
    background: none;
    padding-top: 6px;
    margin-right: 60px;
    transition: 1s;
  }

.form-search{
  border: none;
  background-color: #181818;
  border-radius: 15px;
}
.form-input{
  border-radius: 15px;
  padding: 10px;
  background-color: #181818;
  border: none;
}